@use '../sass/variables';
@use '../sass/mixins';

.creation {
  margin-top: 6rem;
  display: grid;
  padding-bottom: 6rem;
  @include mixins.mq(large) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, minmax(min-content, max-content));
    align-items: center;
    grid-row-gap: 5rem;
    row-gap: 5rem;
    padding-bottom: 11.5rem;
    margin-top: 11.5rem;
  }

  &__title {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
    font-family: variables.$font-title;
    text-align: center;
    margin-bottom: 3rem;

    @include mixins.mq(large) {
      grid-row: 1/2;
      grid-column: 1/2;
      margin-bottom: 0;
      justify-self: start;
      align-self: center;
      font-size: 3rem;
    }
  }
  &__list {
    @include mixins.mq(large) {
      grid-row: 2/-1;
      grid-column: 1/-1;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, minmax(min-content, max-content));
      gap: 1.875rem;
    }
  }

  &__list-item {
    font-size: 1.5rem;
    font-family: variables.$font-title;
    padding-top: 3.25rem;
    padding-left: 1.25rem;
    padding-bottom: 1.25rem;
    padding-right: 10rem;
    text-transform: uppercase;
    position: relative;
    transition: all 0.2s ease;
    @include mixins.mq(medium) {
      padding-top: 8rem;
      font-size: 1.8rem;
      padding-left: 2.5rem;
    }
    @include mixins.mq(large) {
      padding-top: 22.125rem;
      padding-left: 2.5rem;
      padding-bottom: 1.25rem;
      padding-right: 2.5rem;
      font-size: 1.5rem;
    }
    @include mixins.mq(adjustment) {
      font-size: 2rem;
    }

    &:first-child {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-deep-earth.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-deep-earth.jpg');
        grid-row: 1/2;
        grid-column: 1/2;
      }
    }
    &:nth-child(2) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-night-arcade.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-night-arcade.jpg');
        grid-row: 1/2;
        grid-column: 2/3;
      }
    }
    &:nth-child(3) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-soccer-team.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-soccer-team.jpg');
        grid-row: 1/2;
        grid-column: 3/4;
      }
    }
    &:nth-child(4) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-grid.jpg');
      background-size: cover;
      background-position: top center;
      padding-right: 13rem;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-grid.jpg');
        grid-row: 1/2;
        grid-column: 4/5;
        padding-right: 5rem;
      }
    }
    &:nth-child(5) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-from-above.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-from-above.jpg');
        grid-row: 2/3;
        grid-column: 1/2;
      }
    }
    &:nth-child(6) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-pocket-borealis.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-pocket-borealis.jpg');
        grid-row: 2/3;
        grid-column: 2/3;
      }
    }
    &:nth-child(7) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-curiosity.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-curiosity.jpg');
        grid-row: 2/3;
        grid-column: 3/4;
      }
    }
    &:nth-child(8) {
      background-image: linear-gradient(
          to right,
          rgba(0, 0, 0, 0.4),
          transparent
        ),
        url('../images/mobile/image-fisheye.jpg');
      background-size: cover;
      background-position: top center;
      @include mixins.mq(large) {
        background-image: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.4),
            transparent
          ),
          url('../images/desktop/image-fisheye.jpg');
        grid-row: 2/3;
        grid-column: 4/5;
      }
    }

    &:not(:last-child) {
      margin-bottom: 1.5rem;
      @include mixins.mq(large) {
        margin-bottom: 0;
      }
    }
    &:hover::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
    }
    &:hover {
      color: variables.$color-black;
    }
  }
}
.see-btn {
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  border: 1px solid variables.$color-black;
  color: variables.$color-black;
  justify-self: center;
  padding: 0.5rem 2rem;
  width: 9.8125rem;
  margin-top: 2.125rem;
  &:hover,
  &:active {
    background-color: variables.$color-black;
    color: variables.$color-white;
  }
  @include mixins.mq(large) {
    grid-row: 1/2;
    grid-column: 2/-1;
    margin-top: 0;
    justify-self: end;
  }
}
