@use '../sass/variables';
@use '../sass/mixins';

.nav {
  @include mixins.mq(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    padding-top: 14rem;
    position: absolute;
    top: 0;
    left: -100%;
    right: 0;
    bottom: 0;
    background-color: variables.$color-black;
    width: 100%;
    height: 110vh;

    @include mixins.mq(medium) {
      padding: 0;
      position: unset;
      background-color: transparent;
      width: unset;
      height: unset;
      padding-top: 0;
      display: flex;
      justify-content: flex-end;
    }

    &.active {
      left: 0;
      z-index: 1;
    }
    &--item {
      font-size: 1.5rem;
      font-family: variables.$font-title;
      text-transform: uppercase;
      transition: all 0.2s ease;

      @include mixins.mq(medium) {
        font-size: 1rem;
        font-family: variables.$font-body;
        text-transform: unset;
        position: relative;
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
        @include mixins.mq(medium) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
      &:hover,
      &:active {
        text-decoration: underline 1px solid variables.$color-white;
        @include mixins.mq(medium) {
          text-decoration: unset;
        }
      }
      &:hover::after {
        @include mixins.mq(medium) {
          content: '';
          position: absolute;
          width: 1.5rem;
          height: 2px;
          background-color: variables.$color-white;
          bottom: -0.5rem;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}
