@use '../sass/variables';
@use '../sass/mixins';

.footer {
  background-color: variables.$color-black;
  text-align: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  &__nav {
    @include mixins.mq(large) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, minmax(min-content, max-content));
      text-align: left;
      grid-row-gap: 1.5rem;
    }
  }

  &__logo {
    width: 9rem;
    @include mixins.mq(large) {
      grid-row: 1/2;
      grid-column: 1/2;
      justify-self: start;
    }
    & img {
      width: 100%;
    }
  }
  &__menu {
    padding: 2rem 0;
    letter-spacing: 0.1rem;

    @include mixins.mq(large) {
      grid-row: 2/-1;
      grid-column: 1/2;
      justify-self: start;
      display: flex;
      padding: 0;
    }
    &--item {
      position: relative;
      transition: all 0.2s ease;
      &:hover::after {
        content: '';
        position: absolute;
        width: 1.5rem;
        height: 2px;
        background-color: variables.$color-white;
        bottom: -0.5rem;
        left: 50%;
        transform: translateX(-50%);
      }
      &:not(:last-child) {
        margin-bottom: 1rem;
        @include mixins.mq(large) {
          margin-bottom: 0;
          margin-right: 2rem;
        }
      }
    }
  }
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    position: relative;
    @include mixins.mq(large) {
      grid-row: 1/2;
      grid-column: 2/-1;
      align-items: unset;
      justify-self: end;
      margin-bottom: 0;
    }
    & li {
      position: relative;
      transition: all 0.2s ease;
      &:hover::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: variables.$color-white;
        bottom: -0.5rem;
        left: 0;
      }
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
  &__copyrights {
    color: variables.$color-dark-gray;
    @include mixins.mq(large) {
      grid-row: 2/-1;
      grid-column: 2/-1;
      justify-self: end;
    }
  }
}
